body {
    background-color: #cff7fe;

}


h1, h2 {content: "Quiz";
    color: #da65e4;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.antworten {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.dresden-image {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 10px;
}